# Exercícios

In [2]:
#Importação da biblioteca Pandas
import pandas as pd

## Base dados

**Fonte da base de dados**

Enem 1998  
[Microdados do Exame Nacional do Ensino Médio - Enem](http://www.dados.gov.br/dataset/microdados-do-exame-nacional-do-ensino-medio-enem)  

**Documentação da base de dados**  

Para entender a base, acesse a descrição dos campos, disponível neste [link](https://docs.google.com/spreadsheets/d/1tKI5o9wBzBh_SaRccHJKwEzqIekqhyze/edit#gid=1105751035).

**Carregamento da base**  

Para carregar a base em um DataFrame Pandas, execute:
Para acessar o arquivo com a base é necessário solicitar acesso ao Google Drive. No caso desta aula, a base de dados está compartilhada entre todos os alunos incluídos na turma do Google Classroom.

**Google Colaboratory**  

Para execuções utilizando o ambiente do Google Colab, execute o código abaixo. A primeira vez que for executado, será solicitado um código de acesso. Para obter esse código, basta clicar no link gerado e seguir as instruções.
```python
#Solicita acesso ao Google Drive
from google.colab import drive
drive.mount('/drive')

#Carrega a base de dados direto do Google Drive (Executando no Google Colab)
enem98 = pd.read_csv('/drive/Shared drives/BasesPublicas/Bases/ENEM/1998/MICRODADOS_ENEM_1998.csv', sep=';', encoding='latin1' )
```
**Jupyter**  

Para execuções no Jupyter:
```python
#Colocar a base no mesmo diretório em que está executando o arquivo jupyter
#enem98 = pd.read_csv('./MICRODADOS_ENEM_1998.csv', sep=';', encoding='latin1' )

```

In [3]:
# Solicita acesso ao Google Drive
from google.colab import drive
drive.mount('/drive')
 
# Carrega a base de dados direto do Google Drive (Executando no Google Colab)
enem98 = pd.read_csv('/drive/Shared drives/BasesPublicas/Bases/ENEM/1998/MICRODADOS_ENEM_1998.csv', sep=';', encoding='latin1' )

Mounted at /drive

In [4]:
enem98.head()

   NU_INSCRICAO  NU_ANO  NU_IDADE TP_SEXO  ...  Q134 Q135  Q136 Q137
0             1    1998      19.0       F  ...     B    B     B    B
1             2    1998      17.0       F  ...     A    A     A    A
2             3    1998      18.0       M  ...     C    C     C    C
3             4    1998      18.0       M  ...     B    B     B    B
4             5    1998      21.0       M  ...     B    B     B    B

[5 rows x 163 columns]

**Exercícios**

Sobre a base de dados referente ao ENEM do ano de 1998, responda as questões abaixo utilizando a biblioteca Pandas.

Sobre a base:
1. Quantas linhas existem na base?
1. Quantas colunas existem?

In [40]:
linhas = enem98.shape[0]
print(f'Tem {linhas} linhas')

Tem 157221 linhas

1ª forma

In [41]:
colunas = enem98.shape[1]
print(f'Tem {colunas} colunas')

Tem 163 colunas

2ª forma

In [35]:
x = enem98.columns.to_list()
print(f'Tem {len(x)} colunas')

Tem 163 colunas

Obtenha cada informação solicitada a seguir:
- Quantos alunos foram matriculados?

In [49]:
matriculas = enem98['NU_INSCRICAO'].count()
print(f'Tiveram {matriculas} matriculas')

Tiveram 157221 matriculas

- Quantos alunos matricularam-se no ENEM por estado?

In [52]:
enem98['SG_UF_RESIDENCIA'].value_counts()

PR    53722
RJ    36908
MG    23412
PE    10295
SP     8845
RN     4492
ES     3013
MT     1726
SC     1313
MS     1159
RS      997
RR      967
CE      667
AC      570
GO      479
AM      456
SE      344
PB      303
PA      288
DF      243
BA      180
AL      166
RO      111
PI      103
MA       90
TO       48
AP       47
Name: SG_UF_RESIDENCIA, dtype: int64

- Quantos estudantes matriculados não realizaram a prova?

In [64]:
idx = enem98['TP_PRESENCA'] == 0
faltas = enem98[idx]['NU_INSCRICAO'].count()
print(f'Tiveram {faltas} faltas')

Tiveram 41646 faltas

- Dos estudantes matriculados, quantos não realizaram a prova, por estado?

In [65]:
enem98['SG_UF_RESIDENCIA'][idx].value_counts()

RJ    14612
MG     8733
PR     6072
PE     4630
RN     1908
SP     1412
MT      534
RR      421
ES      363
SC      312
AC      202
RS      197
AM      101
MS       89
SE       55
CE       45
DF       44
PA       40
GO       36
PI       35
PB       34
AL       14
RO       12
MA       10
BA       10
TO        4
AP        1
Name: SG_UF_RESIDENCIA, dtype: int64

- Qual é idade do(a) estudante mais velho(a)?

In [67]:
mais_velho = enem98['NU_IDADE'].max()
print(f'O estudante mais velho tinha {mais_velho} anos')

O estudante mais velho tinha 67.0 anos

- Quantos estudantes empatam com a idade mais velha?

In [73]:
idx = enem98['NU_IDADE'] == mais_velho
num_estudantes_velhos = enem98[idx].count().unique()
print(f'tem {num_estudantes_velhos} estudantes com a idade mais velha {mais_velho} anos')

tem [3] estudantes com a idade mais velha 67.0 anos

- Os estudantes com a idade mais mais velha são de quais estados?

In [74]:
enem98[idx]['SG_UF_RESIDENCIA'].value_counts()

PR    1
SP    1
RJ    1
Name: SG_UF_RESIDENCIA, dtype: int64

- Qual é a idade do(a) estudante mais novo(a) do Paraná?

In [78]:
idx = enem98['SG_UF_RESIDENCIA'] == 'PR'
mais_novo_pr = enem98[idx]['NU_IDADE'].min()
print(f'O estudante mais novo do paraná tinha {mais_novo_pr} anos')

O estudante mais novo do paraná tinha 10.0 anos

- Quantos estudantes possuem a mesma idade do estudante mais novo no Paraná?

In [89]:
idx = enem98['SG_UF_RESIDENCIA'] == 'PR'
idy = enem98['NU_IDADE'] == mais_novo_pr
num_estudantes_novos_pr = enem98[idx][idy].count().unique()
print(f'tem {num_estudantes_novos_pr} estudantes com a idade mais nova, {mais_novo_pr} anos')

tem [4] estudantes com a idade mais nova, 10.0 anos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

- De quais cidades são os estudantes com a menor idade?

In [95]:
mais_novo = enem98['NU_IDADE'].min()
idx = enem98['NU_IDADE'] == mais_novo
enem98[idx]['SG_UF_RESIDENCIA'].value_counts()

RJ    5
PR    4
PE    2
MG    2
Name: SG_UF_RESIDENCIA, dtype: int64

- No Paraná, qual a porcentagem de estudantes por sexo?

In [126]:
idx = enem98['SG_UF_RESIDENCIA'] == 'PR'
m = enem98['TP_SEXO'] =='M'
f = enem98['TP_SEXO'] =='F'
M = enem98[idx][m].count().unique()[0]
F = enem98[idx][f].count().unique()[0]
total = enem98[idx].count().unique()[0]

porcentagem_homem = (M*100)/total
porcentagem_mulher = (F*100)/total
print(f"Porcentagem homem: {round(porcentagem_homem,2)} | Porcentagem mulher: {round(porcentagem_mulher,2)}")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

Porcentagem homem: 40.1 | Porcentagem mulher: 59.9